
/* Global styles 
------------------------------------*/

body
{
	margin:0px;
	padding:0px;
	background: #DAA520;
	z-index: -999;
}

/* Header styles 
------------------------------------*/

header{
	width: 100vw;
	height:300px;
}

.blueText
{
    color: #00BFFF;
}

#header-img{
	position: absolute;
	left: 0px;
    top: 0px;
}

#logo {
	position: absolute;
	left: 50vw;
    top: 10px;
	text-align: left;
}

#baa-img {

	position: absolute;
	left: 90vw;
    top: 10px;
	text-align: left;
}

#facebook-img {
	position: absolute;
	left: 10vw;
    top: 10px;
	text-align: left;
}

#twitter-img {
	position: absolute;
	left: 3vw;
    top: 12px;
	text-align: left;
}

nav{
	color: white;
	position: absolute;
	top:80px;
	bottom:0;
	left:25vw;
	right:0;
	margin: 15px;
	text-align: center;
	width: 600px;
	height:	30px;
}

#nav1 a {
	text-decoration: none;
	color: white;
	font-size: 8px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 5px;
	letter-spacing: 2px;
	font-family: arial, serif;
}

#nav1 a:hover {
	color: #00BFFF;
}

a, a:visited {
  text-decoration: none;
  position: relative;
  color: #00BFFF;
}
a:after, a:visited:after {
  content: '';
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #00BFFF;
  transition: 0.5s;
}
a:hover:after, a:visited:hover:after {
  width: 100%;
}

#header-intro1 p {
	position: absolute;
	left: 55vw;
    top: 15px;
    color: #00BFFF;
	letter-spacing: 2px;
    width: 300px;
	font-weight:lighter;
	line-height: 10px;
	font-size: 8px;
	font-family: Raleway, sans-serif;
}

#header-intro2 p {
	position: absolute;
	left: 40vw;
    top: 140px;
    color: white;
    width: 600px;
	letter-spacing: 2px;
	font-weight:lighter;
	line-height: 10px;
	font-size: 8px;
	font-family: Raleway, sans-serif;
}

#header-intro3 p {
	position: absolute;
	left: 30vw;
    top: 200px;
    color: white;
    text-align: center;
	letter-spacing: 2px;
    width: 400px;
    border-radius: 4px;
    background: rgba(204, 204, 204, 0.2);
    padding: 5px;
	font-weight:lighter;
	line-height: 10px;
	font-size: 8px;
	font-family: Raleway, sans-serif;
}

/* Everything styles 
------------------------------------*/

.photos{
	background-color: none;
	width: 100vw;
	height:400px;
	margin: 0px;
}

.mySlides{
position: relative;
top: 60px;

}

h1{
	width: 200px;
}

#photos h1{
	display: inline-block;
	color: white;
	font-family: Raleway, sans-serif;
	font-weight: bolder;
	font-size: 10px;
	letter-spacing: 2px;
	border-radius: 4px;
	padding: 10px;
	background: rgba(204, 204, 204, 0.2);
	position: relative;
	left: 43vw;
    top: 40px;
    z-index: +1;
	text-align: center;
}

#photos h3{
	display: inline-block;
	color: white;
	font-weight:lighter;
/*	width: 275px;*/
	font-size: 8px;
	letter-spacing: 2px;
	border-radius: 4px;
	padding: 10px;
	background: rgba(204, 204, 204, 0.2);
	font-family: Raleway, sans-serif;
	line-height: 20px;
	position: relative;
    top: 275px;
    left: 10vw;
    z-index: +1;
	text-align: center;
}

.w3-content{
	position: relative;
	left: 0px;
    top: -115px;
}

.w3-button{
	background: rgba(204, 204, 204, 0.2);
	border: none;
	width:40px;
	height:40px;
}

.w3-black{
	color:white;
}

.w3-display-left{
	position: relative;
	left: 5%;
    top: -200px;
}

.w3-display-right{
	position: relative;
	left: 85%;
    top: -200px;
}

/* Best observation slideshow
------------------------------------*/

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  width: 200px;
  margin: 20px;
  text-align: center;
}

.bestobs{
	width: 100vw;
	height:400px;
}

#DRACO a{
	color: white;
	/*background: rgba(204, 204, 204, 0.2);*/
	border-radius: 4px;
	text-decoration: none;
    font-size: 7px;
	font-family: Raleway, sans-serif;
	letter-spacing: 2px;
	font-weight:bold;
}

#EUDODUS a {
	color: white;
/*	background: rgba(204, 204, 204, 0.2);*/
	border-radius: 4px;
	text-decoration: none;
    font-size: 7px;
	font-family: Raleway, sans-serif;
	letter-spacing: 2px;
	font-weight:bold;
}

#ELEPHANTS a{
	color: white;
/*	background: rgba(204, 204, 204, 0.2);*/
	border-radius: 4px;
	text-decoration: none;
    font-size: 7px;
	font-family: Raleway, sans-serif;
	letter-spacing: 2px;
	font-weight:bold;
}

#MESSIER a{
	color: white;
/*	background: rgba(204, 204, 204, 0.2);*/
	border-radius: 4px;
	text-decoration: none;
    font-size: 7px;
	font-family: Raleway, sans-serif;
	letter-spacing: 2px;
	font-weight:bold;
}

#observations-img{
	position: absolute;
	left: 0px;
    top: 703px;
	z-index: -1;	
}

.roundrect {
	border-radius: 20px;
	border-style: solid;
	border-color: rgba(218, 165, 32, 0.3);
	border-width: 1px;
}


#DRACO-img:hover { 
 opacity: 0.7;
}

#EUDODUS-img:hover { 
 opacity: 0.7;
}

#ELEPHANTS-img:hover { 
 opacity: 0.7;
}

#MESSIER-img:hover { 
 opacity: 0.7;
}


/*------ pop ups -------*/

.closeBtn{
    position:absolute;
	left: 95%;
    top: 5px;
    transition: .5s ease;
    width: 50px;
    height: 40px;
}

.astro-pop_up1{
	display: none;
	width: 75vw;
	height:50vw;
   	position: fixed;
   	border:1px solid white;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	z-index: 999;
}

.astro-pop_up2{
	display: none;
	width: 75vw;
	height:50vw;
   	position: fixed;
   	border:1px solid white;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	z-index: 999;
}

.astro-pop_up3{
	display: none;
	width: 75vw;
	height:50vw;
   	position: fixed;
   	border:1px solid white;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	z-index: 999;
}

.astro-pop_up4{
	display: none;
	width: 75vw;
	height:50vw;
   	position: fixed;
   	border:1px solid white;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	z-index: 999;
}

/* Explore our solar system
------------------------------------*/

.our-portfolio{
	width: 100vw;
	height:700px;
	margin:0px;
	padding-top:0px;
}

#solarsystem-img{
	position: absolute;
	left: 0px;
    top: 1106px;
    z-index: -1;
}

#video{
	position: relative;
	left: 10%;
    top: 80px;
    opacity: 0.8;
}

#demovideo {
	position: relative;
	left: 5%;
    top: 100px;
    opacity: 0.8;
}

#validationvideo {
	position: relative;
	left: 5%;
    top: 100px;
    opacity: 0.8;
}

#demobackground{
	position: relative;
	left: 0%;
    top: -550px;
    z-index: -1;
}

#webstandardbackground{
	position: relative;
	left: 0%;
    top: -45px;
    z-index: -1;
}

.webstandards h1{
	color: white;
	font-weight:bolder;
	width: 100vw;
	padding: 0px;
	margin:0px;
	font-size: 40px;
	font-family: Raleway, sans-serif;
	text-align: center;
	position: relative;
    top: 60px;
}

#our-portfolio h1{
	color: white;
	font-weight:bolder;
	width: 100vw;
	padding: 0px;
	margin:0px;
	font-size: 40px;
	font-family: Raleway, sans-serif;
	text-align: center;
	position: relative;
    top: 60px;
}

#line3 {
    height: 0.3px;
    border: 0;
    border-top: 0.5px solid #C0C0C0;
    width:	50vw;
    margin: 1em 0;
    padding: 0;
    position: relative;
	left: 25vw;
    top: 80px;
}

/* Planets 
------------------------------------*/

.planets{
	width: 100vw;
	height:500px;
	margin:0px;
	padding-top:0px;
}

#planetsbackground{
	position: absolute;
	left: 0px
    top: 200px;
	margin: 0px;
	z-index: -999;
}


#thesolarsystem {
	width:	100vw;
	height: 30px;
	color: white;
	font-family: Raleway, sans-serif;
	font-weight: bolder;
	font-size: 10px;
	letter-spacing: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background: rgba(204, 204, 204,1);
    z-index: +1;
}

#thesolarsystem:hover {
color: black;
}



.wrapper {
    padding: 50px 50px;
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	margin-top: 80px;
}

.right {float: right !important;}

/* Image zoom on hover + Overlay colour*/

.parent {
    width: 45%;
    margin: 20px;
    height: 300px;
    border: 1px dashed white;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
	cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Several different images */
.bg-one {background-image: url("https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19821_hires.jpg");}
.bg-two {background-image: url(https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22574_hires.jpg);}
.bg-three {background-image: url(https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18905_hires.jpg);}
.bg-four {background-image: url(https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16682_hires.jpg);}
.bg-five {background-image: url(https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19808_hires.jpg);}
.bg-six {background-image: url(https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA01486_hires.jpg);}


.bestObsImages h4 {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover h4, .parent:focus h4 {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

/* Media Queries */
@media screen and (max-width: 960px) {
    .parent {width: 100%; margin: 20px 0px}
		.wrapper {padding: 20px 20px;}
}


/*sortable items for planets*/

#yourscore{
	position: relative;
	width: 400px;
	left:40vw;
	font-family: Verdana;
	color: white;
	font-size: 20px;
}

div#buttonDiv{
	font-family: Verdana;
	color: white;
	font-size: 20px;
}

div.sortIt { 
  height: 50px;
  width: 50px; 
  font-family: Verdana;
  color: white;
  font-size: 10px;
  position: relative;
  top: 200px;
  left:	25vw;
  float: left; 
  margin: 4px; 
  text-align: center; 
  padding: 10px; 
  z-index: 999; 
}



